.text-gradient span {
    text-shadow: 0 0 15px rgba(75, 0, 130, 0.7), /* Indigo glow */
                 0 0 25px rgba(138, 43, 226, 0.6), /* Blue-violet glow */
                 0 0 35px rgba(219, 112, 147, 0.5), /* Dark pink glow */
                 0 0 50px rgba(255, 20, 147, 0.4); /* Deep pink glow */
  }

  /* Base styles */
nav ul li a {
    transition: color 0.3s ease;
  }
  
  nav ul li a:hover {
    color: #ff9f43;
  }
  
  /* Sliding menu for small screens */
  @media (max-width: 640px) {
    .container {
      padding: 0 1rem;
    }
  
    nav {
      background-color: rgba(0, 0, 0, 0.9);
    }
  
    /* Ensure the sliding menu occupies the viewport height */
    .fixed-menu {
      height: 100vh;
    }
  
    /* Smooth transitions for the slide-in effect */
    .transform {
      transition: transform 0.3s ease-in-out;
    }
  }
  